body {
    margin-bottom: 80px;
    background: #333;
}

.wrapper {
    max-width: 768px;
    margin: 0px auto;
    background: #fff;
}

.overlay {
    background: #fff;
    position: fixed;
    width: 100%;
    max-width: 768px;
    height: 100%;
    display: block;
    z-index: 1;
    text-align: center;
}

.banner {
    background: #337ab7;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    letter-spacing: 3px;
}

.logo {
    width: 320px;
    margin: 10px;
}

.overlay-logo {
    width: 80%;
    margin: 200px auto 20px auto; 
    display: block;
    max-width: 320px;
}

.nav-tabs {
    background: #74a1c7;
    padding: 10px;
}

.nav-tabs>li>a {
    background: #fff;
    border-radius: 50px !important;
    margin-right: 10px;
    padding: 10px 16px;
}

.nav-tabs>li>a>span {
    display: none;
}

.nav-tabs>li.active>a>span {
    display: inline-block;
}

.checkbox>label {
    margin-right: 20px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    background: #337ab7;
    padding: 10px 10px 0 10px;
    width: 100%;
    margin: 0px;
    max-width: 768px;
    /*margin: 0px -10px;*/
    -webkit-font-smoothing: none; /* Obvious */
    -webkit-font-smoothing: subpixel-antialiased; /* This is what quite a few browers already do*/
    -webkit-font-smoothing: antialiased; /* Even more than the one above */
}

.tab-content {
    height: 50%;
}

.red {
    color: red;
}

.btnNext {
    float: right;
    text-shadow: none;
    width: 20%;
    margin-left: 10px;
}

.btnPrevious {
    float: left;
    text-shadow: none;
    width: 20%;
}

.btnSave {
    float: right;
}

.btnSubmit {
    float: right;
}

copyright {
    font-size: 8px;
    color: #fff;
    line-height: 9px;
    float: left;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
}

.error {
    color: red;
    font-size: 11px;
}

label>label.error {
    position: absolute;
    top: -15px;
    left: -20px;
    font-weight: bold;
}